{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.offers_list'|trans }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'title.offers_list'|trans }}
    </h1>

    {% if paginator.data|length %}
        <table>
            <thead>
            <tr>
                <th>{{ 'offer_table.id'|trans }}</th>
                <th>{{ 'offer_table.osoba'|trans }}</th>
                <th>{{ 'offer_table.tresc'|trans }}</th>
                <th>{{ 'offer_table.data_wydarzenia'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in paginator.data %}
            <tr>
                <td>
                    {{ offer.numer }}
                </td>
                <td>
                    {{ offer.osoba_id }}
                </td>
                <td>
                    {{ offer.tresc }}
                </td>
                <td>
                    {{ offer.data_wydarzenia }}
                </td>
                <td>
                    <a href="{{ url('offer_view', {'id': offer.numer}) }}" class="table__link" title="{{ 'label.view'|trans }}">
                        {{ 'label.view'|trans }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('offer_edit', {'id': offer.numer}) }}" class="table__link" title="{{ 'label.edit'|trans }}">
                        {{ 'label.edit'|trans }}
                    </a>
                </td>
                <td>
                    <a href="{{ url('offer_delete', {'id': offer.numer}) }}" class="table__link" title="{{ 'label.delete'|trans }}">
                        {{ 'label.delete'|trans }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            {{ 'offers_not_found'|trans }}
        </div>
    {% endif %}
    <a href="{{ url('offer_add') }}" class="table__link table__link--detail"
       title="{{ 'label.offer_add'|trans }}">
        {{ 'label.offer_add'|trans }}
    </a>
    {% include 'default/_paginator.html.twig' with {
    paginator: paginator,
    route_name: 'offer_index_paginated',
    } %}
{% endblock %}